@font-face{font-family:'Segoe UI';
	src:url(segoeui.eot);
	src:local("Segoe UI"),
	local("Segoe"),
	local("Segoe WP"),
	url(segoeui.eot?#iefix) format('embedded-opentype'),
	url(segoeui.svg#SegoeUI) format('svg'),
	url(segoeui.woff) format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{font-family:'Segoe UI Semibold';
	src:url(segoeuisb.eot);
	src:local("Segoe Semibold"),
	local("Segoe WP Semibold"),
	url(segoeuisb.eot?#iefix) format('embedded-opentype'),
	url(segoeuisb.svg#SegoeUISemibold) format('svg'),
	url(segoeuisb.woff) format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{font-family:'Segoe UI Bold';
	src:url(segoeuib.eot);
	src:local("Segoe Bold"),
	local("Segoe WP Bold"),
	url(segoeuib.eot?#iefix) format('eot'),
	url(segoeuib.svg#SegoeUIBold) format('svg'),
	url(segoeuib.woff) format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{font-family:'Segoe UI Light';
	src:url(segoeuil.eot);
	src:local("Segoe UI Light"),
	local("Segoe WP Light"),
	url(segoeuil.eot?#iefix) format('embedded-opentype'),
	url(segoeuil.svg#SegoeUILight) format('svg'),
	url(segoeuil.woff) format('woff');
	font-weight:normal;
	font-style:normal;
}
