*~
*.bak
*.db
*.psd
*.ai
*.eps
*.gz
*.git*
*.hg*
*.iml
.DS_Store
__MACOSX/
a/
m/
dl/mp3/
geograph/
inc/regional_*
pub/
piwik/
sql/
sqlite/
temp/
divans/
portfolio/
serguei/
lytcomp/
nativeclub/
tools/webdesignrepo/
/.*
!/.htaccess
!/.hgignore
!/.gitignore
/*.gz
/*.iml
/*.komodoproject
